<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Урок 39: "HTML, CSS і основи мови розмітки"</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>

{% block content %}

  <div>
    <a href="{% url 'create-note' %}">Create Note</a>
  </div>

  <div>
    <h1>Ласкаво просимо на мою сторінку!</h1>
    <p>Це мій перший Django проект з CSS стилізацією.</p>
    {% if notes %}
      <ul>
        {% for note in notes %}
          <li>
            <h2><a href="{% url 'note-detail' note.id %}">{{ note.title }}</a></h2>
            <p>{{ note.text }}</p>
            <p>Reminder: {{ note.reminder }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>У вас ще немає жодної нотатки.</p>
    {% endif %}
  </div>

{% endblock %}

</body>
</html>
